.flex-wrapped-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-wrapped-item {
    border: 2px solid white;
    border-radius: 1.9em;
    min-width: 20rem;
    max-width: 20rem;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.flex-wrapped-item:hover {
    border: 2px solid black;
    box-shadow: 0em 0em .4em .1em white;
    background-color: white;
    border-radius: 1.9em !important;
    border-radius: 1em;
    color: black;
}